<footer class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <p>Website by Yves Ramos</p>
            </div>
        </div>
    </footer>